body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
}

#game-container {
    text-align: center;
    border: 2px solid white;
    /* Optimiert für Handybildschirme */
    width: 90%;
    max-width: 300px; 
}

#gameCanvas {
    /* Ändere #000 zu einer schrillen Farbe wie #FF00FF (Magenta) */
    background-color: #FF00FF; 
    width: 100%;
    height: auto;
}

#scoreBoard {
    padding: 10px 0;
    font-size: 1.5em;
}

